@mixin inter($style: regular) {
  font-family: "Inter", "Arial", sans-serif;

  @if $style == regular {
    font-weight: 400;
  }

  @if $style == medium {
    font-weight: 500;
  }

  @if $style == semibold {
    font-weight: 600;
  }

  @if $style == bold {
    font-weight: 700;
  }
}

@mixin raleway($style: regular) {
  font-family: "Raleway", "Arial", sans-serif;

  @if $style == medium {
    font-weight: 500;
  }

  @if $style == bold {
    font-weight: 700;
  }
}

@mixin desktop() {
  @media screen and (max-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin tablets() {
  @media screen and (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin phones() {
  @media screen and (max-width: $breakpoint-mobile) {
    @content;
  }
}


@mixin content {
  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      &:after {
        content: '#{$i}';
      }
    }
  }
}
