.menu {
  display: flex;
  align-items: center;

  @include tablets {
    order: 30;
    width: 100%;
    padding: 30px 0;
    margin-top: 7px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: -10%;
      top: 0;
      width: 150%;
      height: 100%;
      background-color: $gray;
      z-index: -1;
    }
  }

  @include phones {
    width: initial;
    padding: 0;
    margin-top: 0;
    margin-left: 24px;


    &::after {
      display: none;
    }

  }
}

.menu--opened {
  & .menu__dropdown {
    top: 0;
  }

  & .menu__toggle {
    & span {
      display: none;
    }

    &::before {
      top: 12px;
      transform: rotate(45deg);
    }

    &::after {
      top: 12px;
      transform: rotate(-45deg);
    }
  }
}

.menu__toggle {
  position: relative;
  z-index: $z-index-menu-toggle;
  display: none;
  width: 40px;
  height: 24px;

  @include phones {
    display: block;
  }

  &::before,
  &::after,
  & span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $green;
    transition: 0.8s ease;
  }

  & span {
    top: 50%;
    transform: translateY(-50%);
  }

  &::before,
  &::after {
    content: "";
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.menu__dropdown {

  @include phones {
    position: fixed;
    left: 0;
    right: 0;
    top: -150%;
    height: 100%;
    z-index: $z-index-menu-dropdown;
    padding: 150px 20px 40px 20px;
    overflow: auto;
    background-color: $gray;
    transition: 1s ease;
  }

}

.menu__list {
  display: flex;
  align-items: center;

  @include phones {
    flex-direction: column;
  }
}

.menu__item + .menu__item {
  margin-left: 47px;

  @include desktop {
    margin-left: 28px;
  }

  @include phones {
    margin-left: 0;
    margin-top: 30px;
  }
}

.menu__link {
  display: inline-block;
  color: $brown;
  transition: all 0.5s;
  text-decoration: none;
  font-size: 20px;

  @include desktop {
    font-size: 18px;
  }

  @include phones {
    font-size: 20px;
    text-transform: uppercase;
  }
}

.menu__item:hover .menu__link,
.menu__item--active .menu__link {
  color: #1a1f1f;
}
