<section class="section about">
  <div class="container">
    <div class="acout__wrap">
      <h2 class="about__title">
        Вам будет интересно узнать о нас
      </h2>
      <div class="about__desc">
        Транспортная компания <span>ВестКомТранс</span> - динамично развивающийся логистический оператор на территории
        Российской
        Федерации.<br>Одной из основных целей нашей компании является клиентоориентированность, а именно повышение
        привлекательности перевозок грузов по железной дороге за счет максимальной гибкости и адресности предоставляемых
        услуг, в том числе, с применением новейших информационных технологий на транспорте.
      </div>
      <a href="#" class="btn about__btn">Смотреть модели наших крытых вагонов</a>
    </div>
  </div>
</section>
