<section class="section cargo" id="cargo">
  <div class="container">
    <h2 class="cargo__title">
      Какие виды грузов мы перевозим
    </h2>


    <!-- Главный контейнер слайдера -->
    <div class="cargo-slider">
      <!-- Обязательная оболочка -->
      <div class="cargo-slider__wrapper swiper-wrapper">
        <!-- Слайды (c хэшом навигации)-->
        <div class="cargo-slider__slide swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="cargo-slider__content">
            <div class="cargo-slider__text">
              Пиломатериалы
            </div>
            <div class="cargo-slider__image-wrap">
              <img src="images/cargo1.png" alt="cargo" class="cargo-slider__image">
            </div>
          </div>
        </div>
        <!-- Слайды (c хэшом навигации)-->
        <div class="cargo-slider__slide swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="cargo-slider__content">
            <div class="cargo-slider__text">
              Изделия из пластика и металла
            </div>
            <div class="cargo-slider__image-wrap">
              <img src="images/cargo2.png" alt="cargo" class="cargo-slider__image">
            </div>
          </div>
        </div>
        <!-- Слайды (c хэшом навигации)-->
        <div class="cargo-slider__slide swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="cargo-slider__content">
            <div class="cargo-slider__text">
              Продукты питания
            </div>
            <div class="cargo-slider__image-wrap">
              <img src="images/cargo3.png" alt="cargo" class="cargo-slider__image">
            </div>
          </div>
        </div>
        <!-- Слайды (c хэшом навигации)-->
        <div class="cargo-slider__slide swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="cargo-slider__content">
            <div class="cargo-slider__text">
              Строительные грузы
            </div>
            <div class="cargo-slider__image-wrap">
              <img src="images/cargo4.png" alt="cargo" class="cargo-slider__image">
            </div>
          </div>
        </div>
        <!-- Слайды (c хэшом навигации)-->
        <div class="cargo-slider__slide swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="cargo-slider__content">
            <div class="cargo-slider__text">
              Бумага и картон
            </div>
            <div class="cargo-slider__image-wrap">
              <img src="images/cargo5.png" alt="cargo" class="cargo-slider__image">
            </div>
          </div>
        </div>
        <!-- Слайды (c хэшом навигации)-->
        <div class="cargo-slider__slide swiper-slide">
          <!-- Контент внутри слайдера -->
          <div class="cargo-slider__content">
            <div class="cargo-slider__text">
              Прочие грузы
            </div>
            <div class="cargo-slider__image-wrap">
              <img src="images/cargo6.png" alt="cargo" class="cargo-slider__image">
            </div>
          </div>
        </div>

      </div>


      <div class="cargo-slider__controls">
        <!-- Добавляем если нам нужна пагинация (параметр pagination)   -->
        <div class="swiper-pagination"></div>

        <!-- Добавляем если нам нужны стрелки управления (параметр navigation)-->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

      <!-- Добавляем если нам нужен полоса прокрутки (параметр scrollbar)  -->
      <!-- <div class="swiper-scrollbar"></div> -->

    </div>



  </div>
</section>
