<section class="section contacts" id="contacts">
  <div class="container">
    <h2 class="contacts__title">
      Вы всегда можете связаться с нами
    </h2>
    </div>

    <div class="container contacts__container">
      <ul class="contacts__list">
        <li class="contacts__item contacts__item--active">
          <div class="contacts__position">
            Директор по продажам
          </div>
          <div class="contacts__info">
            <div class="contacts__info-top">
              <span class="contacts__fullname">
                Виктория Блинкова
              </span>
              <span class="contacts__abbr">
                ENFP
              </span>
            </div>
            <div class="contacts__email">
              Viktoria.blinkova@westcomtrans.ru
            </div>
            <div class="contacts__phone">
              моб. тел.: +7 (925) 538-22-01
            </div>
          </div>
        </li>
        <li class="contacts__item">
          <div class="contacts__position">
            Бухгалтерия
          </div>
          <div class="contacts__info">
            <div class="contacts__info-top">
              <span class="contacts__fullname">
                Анна Константинова
              </span>
              <span class="contacts__abbr">
                ISTJ
              </span>
            </div>
            <div class="contacts__email">
              Anna.konstantinova@westcomtrans.ru
            </div>
            <div class="contacts__phone">
              моб. тел.: +7 (926) 566-21-64
            </div>
          </div>
        </li>
        <li class="contacts__item">
          <div class="contacts__position">
            Подача порожних вагонов
          </div>
          <div class="contacts__info">
            <div class="contacts__info-top">
              <span class="contacts__fullname">
                Наталья Пастухова
              </span>
              <span class="contacts__abbr">
                INTP
              </span>
            </div>
            <div class="contacts__email">
              Natalia.pastukhova@westcomtrans.ru
            </div>
            <div class="contacts__phone">
              моб. тел.: +7 (985) 199-55-05
            </div>
          </div>
        </li>
        <li class="contacts__item">
          <div class="contacts__position">
            Цифровые продажи
          </div>
          <div class="contacts__info">
            <div class="contacts__info-top">
              <span class="contacts__fullname">
                Иван Кочуков
              </span>
              <span class="contacts__abbr">
                ENTP
              </span>
            </div>
            <div class="contacts__email">
              Ivan.kochukov@westcomtrans.ru
            </div>
            <div class="contacts__phone">
              моб. тел.: +7 964 710-77-65
            </div>
          </div>
        </li>
        <li class="contacts__item">
          <div class="contacts__position">
            Текущий и капитальный ремонты
          </div>
          <div class="contacts__info">
            <div class="contacts__info-top">
              <span class="contacts__fullname">
                Сергей Чефанов
              </span>
              <span class="contacts__abbr">
                ISTJ
              </span>
            </div>
            <div class="contacts__email">
              Sergei.chefanov@westcomtrans.ru
            </div>
            <div class="contacts__phone">
              моб. тел.: +7 (929)909-47-51
            </div>
          </div>
        </li>
        <li class="contacts__item">
          <div class="contacts__position">
            Администрация
          </div>
          <div class="contacts__info">
            <div class="contacts__info-top">
              <span class="contacts__fullname">
                Поздеева Юлия
              </span>
              <span class="contacts__abbr">
                ENFJ
              </span>
            </div>
            <div class="contacts__email">
              Yulia.pozdeeva@westcomtrans.ru
            </div>
            <div class="contacts__phone">
              моб. тел.: +7 (908) 552-63-09
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="container">
      <div class="contacts__row">
        <div class="contacts__col">
          <div class="contacts__subtitle">
            Юридический адрес:
          </div>
          <div class="contacts__desc">
            121357, г. Москва, ул. Верейская, д.&nbsp;29, стр.134, 2 этаж, комната №11, офис В210
          </div>
        </div>
        <div class="contacts__col">
          <div class="contacts__subtitle">
            Фактический/почтовый адрес:
          </div>
          <div class="contacts__desc">
            121357, г. Москва, ул. Верейская, д.&nbsp;29, стр.134, 2 этаж, комната №11, офис В21
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
