<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="logo">
        <a class="logo__link">
          <img src="images/logo.png" alt="ВестКомТранс" class="logo__img" width="354" height="77">
        </a>
      </div>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#about" class="menu__link">О компании</a>
          </li>
          <li class="menu__item">
            <a href="services.html" class="menu__link">Услуги</a>
          </li>
          <li class="menu__item">
            <a href="#cargo" class="menu__link">Виды грузов</a>
          </li>
          <li class="menu__item">
            <a href="#contacts" class="menu__link">Контакты</a>
          </li>
        </ul>

      </nav>


      <a href="tel:+79255382201" class="btn footer__btn">
        Позвонить
      </a>
    </div>


    <div class="footer__copy">© Все права защищены</div>

  </div>
</footer>
