<section class="models">
  <div class="container">
    <button onclick="history.back();" class="back-btn models___btn">
      Назад
    </button>
    <h2 class="models__title">Модели наших вагонов</h2>
    <div class="models__desc">
      В парке ООО «ВестКомТранс» имеются две модели универсальных крытых вагонов: 11-7038 в количестве 142 ед. и
      11-1807-01 в количестве 53 ед.
      Эти вагоны оснащены цельнометаллическим кузовом и уширенным дверным проемом, без люков.
    </div>


    <ul class="models__list">
      <li class="models__item">
        <div class="models__top">
          <div>
            <div class="models__top-header">
              4-х осный крытый вагон,<br>модель 11- 7038
            </div>
          </div>
          <div>
            <div class="models__top-desc">
              Вагон с грузоподъемностью 68 тн, оснащен 150 кубовым кузовом,<br>
              что дает преимущество перед остальными моделями крытых вагонов
            </div>
          </div>
        </div>
        <div class="models__body">
          <div class="models__body-bottom">
            <div class="models__body-bottom-top">
              В крытом вагоне модели 11-7038 можно транспортировать любые штучные или пакетированные грузы, включая
              некоторые виды сыпучих по сети железных дорог Украины, стран СНГ, России и Балтии. Кроме того, модификация
              вагона позволяет перевозить в нем с одинаковым удобством как тяжелые, так и легкие грузы.
            </div>
            <div class="models__body-bottom-left">
              <div class="models__body-bottom-left-title">
                Основные технические характеристики вагонов 11-7038:
              </div>
              <div class="models__body-bottom-left-characters">
                <div class="models__characters">
                  <span>Грузоподъёмность:</span> до 68 тонн;<br>
                  <span>Масса тары вагона:</span> 26 тонн;<br>
                  <span>Объем кузова:</span> 150 куб. метров;<br>
                  <span>Площадь пола:</span> 43 кв. метра;
                </div>
                <div class="models__characters">
                  <span>Внутренние размеры (ШхД):</span> 2,8х17,5 метра;<br>
                  <span>База вагона:</span> 13,5 метра;<br>
                  <span>Длина по осям сцепок:</span> 18,7 метра;
                </div>
              </div>
            </div>
            <div class="models__body-bottom-right">
              <div class="models__body-bottom-right-img-wrap">
                <img src="images/model.png" alt="model" width="753" height="250" class="models__body-bottom-right-img">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="models__item">
        <div class="models__top">
          <div>
            <div class="models__top-header">4-х осный крытый вагон,<br>модель 11- 1807-01
            </div>
          </div>
          <div>
            <div class="models__top-desc">Вагон оснащен 158 кубовым кузовом, что делает его наилучшим вариантом для
              погрузки сборных и легковесных грузов. В отличие от большинства крытых вагонов, модель 11-1807-01 имеет
              грузоподъемность 66,7 тн, что для многих грузоотправителей является определяющим фактором в выборе
              вагонов.
            </div>
          </div>
        </div>
        <div class="models__body">
          <!-- <div class="models__body-top">
            В крытом вагоне модели 11-7038 можно транспортировать любые штучные или пакетированные грузы, включая
            некоторые виды сыпучих по сети железных дорог Украины, стран СНГ, России и Балтии. Кроме того, модификация
            вагона позволяет перевозить в нем с одинаковым удобством как тяжелые, так и легкие грузы.
          </div> -->
          <div class="models__body-bottom">
            <div class="models__body-bottom-left">
              <div class="models__body-bottom-left-title">
                Основные технические характеристики вагонов 11-1807-01:
              </div>
              <div class="models__body-bottom-left-characters">
                <div class="models__characters">
                  <span>Грузоподъёмность:</span> 66,7 тонн;<br>
                  <span>Масса тары вагона:</span> 27,5 тонн;<br>
                  <span>Объем кузова:</span> 158 куб. метров;<br>
                  <span>Площадь пола:</span> 43,9 кв. метра;
                </div>
                <div class="models__characters">
                  <span>Размеры вагона внутренние:</span> длина 17 680 мм,<br>
                  ширина 2 790 мм,высота 2820 мм;<br>
                  <span>База вагона:</span> 13 140 мм;<br>
                  <span>Длина по осям сцепления цепок:</span> 18 410 мм;
                </div>
              </div>
            </div>
            <div class="models__body-bottom-right">
              <div class="models__body-bottom-right-img-wrap">
                <img src="images/model2.png" alt="model" width="771" height="246" class="models__body-bottom-right-img">
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>

  </div>
</section>
