<section class="models">
  <div class="container">
    <button onclick="history.back();" class="back-btn tasks___btn">
      Назад
    </button>
    <h2 class="models__title">Модели наших вагонов</h2>
    <div class="models__desc">
      В парке ООО «ВестКомТранс» имеются две модели универсальных крытых вагонов: 11-7038 в количестве 142 ед. и
      11-1807-01 в количестве 53 ед.
      Эти вагоны оснащены цельнометаллическим кузовом и уширенным дверным проемом, без люков.
    </div>


    <ul class="models__list">
      <li class="models__item">
        <div class="models__top">
          <div>
            <div class="models__top-header">
              4-х осный крытый вагон, модель 11- 7038
            </div>
          </div>
          <div>
            <div class="models__top-desc">
              Вагон с грузоподъемностью 68 тн, оснащен 150 кубовым кузовом,
              что дает преимущество перед остальными моделями крытых вагонов
            </div>
          </div>
        </div>
        <div class="models__body">
          <div class="models__body-top">
            В крытом вагоне модели 11-7038 можно транспортировать любые штучные или пакетированные грузы, включая
            некоторые виды сыпучих по сети железных дорог Украины, стран СНГ, России и Балтии. Кроме того, модификация
            вагона позволяет перевозить в нем с одинаковым удобством как тяжелые, так и легкие грузы.
          </div>
            <div class="models__body-bottom">
              <div class="models__body-bottom-left">
                <div class="models__body-bottom-left-title">
                  Основные технические характеристики вагонов 11-7038:
                </div>
                <div class="models__body-bottom-left-characters">
                  <div class="models__characters">
                    Грузоподъёмность: до 68 тонн;<br>
                    Масса тары вагона: 26 тонн;<br>
                    Объем кузова: 150 куб. метров;<br>
                    Площадь пола: 43 кв. метра;
                  </div>
                  <div class="models__characters">
                    Внутренние размеры (ШхД): 2,8х17,5 метра;<br>
                    База вагона: 13,5 метра;<br>
                    Длина по осям сцепок: 18,7 метра;
                  </div>
                </div>
              </div>
              <div class="models__body-bottom-right">
                <div class="models__body-bottom-right-img-wrap">
                  <img src="images/model.png" alt="model" width="753" height="250">
                </div>
              </div>
            </div>
        </div>
      </li>
    </ul>

  </div>
</section>
