<section class="project" id="project">
  <div class="container">
    <h2 class="project__title">Узнайте о нашем проекте</h2>
    <div class="project__desc">Мы реализуем проект по продажам вагонов через электронную торговую площадку ЭТПГП</div>

    <!-- обёртка левого и правого блока -->
    <div class="project__wrap">

      <!-- правый блок  -->
      <div class="project__top">

        <h3 class="project__subtitle">
          Что такое ЭТПГП?
        </h3>

        <div class="project__block">
          <div class="project__transportation">

            <div class="project__transportation-img">
              <img src="images/etpgp.png" width="56" height="48" alt="Электронная торговая площадка Грузовые перевозки"
                class="project__transportation-img-elem">
            </div>

            <div class="project__transportation-desc">
              Электронная торговая площадка «Грузовые перевозки»
            </div>


          </div>
        </div>
        <div class="project__block">
          <div class="project__note">
            Каждый <span>вторник</span> мы выставляем вагоны<br>
            по всей сети РЖД,<br>
            <span>не упусти возможность!</span>
          </div>
        </div>
      </div>


      <!-- левый блок  -->
      <div class="project__bottom">

        <h3 class="project__subtitle">
          Какие приемущества работы через ЭТПГП?
        </h3>

        <div class="project__block">
          <div class="project__advantages-top">

            <div class="project__advantages-item project__advantages-item--decline">
              <div class="project__advantages-text">
                Сниженные ставки за вагон
              </div>
              <img src="images/decline.svg" width="76" height="76"
                alt="decline"
                class="project__advantages-img">
            </div>

            <div class="project__advantages-item project__advantages-item--document">
              <div class="project__advantages-text">
                Не нужны договоры и заявки. Не нужно согласововать ставку, направления и простои.
              </div>
              <img src="images/document.svg" width="81" height="80" alt="document" class="project__advantages-img">
            </div>



          </div>
        </div>

        <div class="project__block">
          <div class="project__advantages-bottom">

            <div class="project__advantages-item  project__advantages-item--tool">
              <div class="project__advantages-text">
                С использованием платформы количество дней простоя или ремонта снижается до минимума.
              </div>
              <img src="images/tool.svg" width="80" height="80" alt="tool" class="project__advantages-img">
            </div>

            <div class="project__advantages-item project__advantages-item--location">
              <div class="project__advantages-text">
                Встроенная дислокация и&nbsp;полный контроль за перевозочными условиями
              </div>
              <img src="images/location.svg" width="80" height="80" alt="location" class="project__advantages-img">
            </div>

          </div>

        </div>


      </div>
    </div>
    <div class="project__note project__note--addittional">
      Каждый <span>вторник</span> мы выставляем вагоны
      по всей сети РЖД,
      <span>не упусти возможность!</span>
    </div>

    <div class="ptoject__btns">
      <a href="#" class="btn btn--bordered project__btn">Перейти на площадку ЭТПГП</a>

      <div class="project__prompt-btn">
        ?
      </div>

      <div class="project__prompt">
        <div class="project__prompt-title">
          Инструкция по использованию ЭТПГП
        </div>

        <ul class="project__prompt-list">
          <li class="project__prompt-item">Перейти на площадку ЭТПГП</li>
          <li class="project__prompt-item">Найти вкладку "Торги лотами подвижного состава" </li>
          <li class="project__prompt-item">Выбрать нужное направление , войти в лот </li>
          <li class="project__prompt-item">Для участия в лоте назначить свою стоимость</li>
          <li class="project__prompt-item">После окончания лотов вам придет сообщение
            о приобретении вагона на рейс.</li>
        </ul>
      </div>


    </div>

  </div>
</section>
