<section class="section services">
  <div class="container">
    <h2 class="services__title">
      Какие услуги мы предоставляем
    </h2>

    <ul class="services__list">
      <li class="services__item">
        Предоставление крытых, универсальных вагонов под перевозки грузов.
      </li>
      <li class="services__item">
        Оплата железнодорожного<br>тарифа по РФ и СНГ
      </li>
      <li class="services__item">
        Организация транспортной и складской инфраструктуры
      </li>
      <li class="services__item">
        Организация погрузо-разгрузочных работ
      </li>
    </ul>

    <a href="#" class="btn btn--bordered services__btn">
      Подробнее
    </a>
  </div>
</section>
