<section class="tasks">
  <div class="container">
    <button class="back-btn tasks___btn">
      Назад
    </button>
    <h2 class="tasks__title">Какие услуги предоставляем</h2>
    <div class="tasks__desc">ООО "ВестКом Транс" оказывает услуги по предоставлению Крытых вагонов 150 и 158 к, а также
      предоставляет транспортно-экспедиционные услуги клиентам по всей сети железных дорог Российской Федерациии СНГ.
    </div>
    <h3 class="tasks__subtitle">Основные задачи нашей компании</h3>
    <ul class="tasks__list">
      <li class="tasks__item">
        Развитие комплексного транспортного сервиса
      </li>
      <li class="tasks__item">Расширение географии присутствия на транспортном рынке
      </li>
      <li class="tasks__item">Оптимизация времени и ресурсов при реализации логистических проектов
      </li>
      <li class="tasks__item">Развитие долгосрочных взаимовыгодных партнерских отношений с клиентами
      </li>
    </ul>
  </div>
</section>
