<section class="section why">
  <div class="container">
    <h2 class="why__title">
      Почему с нами удобно сотрудничать
    </h2>

    <ul class="why__list">
      <li class="why__item">
        <div class="why__accent">
          4%
        </div>
        <div class="why_text">
          большекубовых вагонов<br>от всей сети РЖД
        </div>
      </li>
      <li class="why__item">
        <div class="why__accent">
          100%
        </div>
        <div class="why_text">качественный клиентский<br>сервис
        </div>
      </li>
      <li class="why__item">
        <div class="why__accent">
          4 года
        </div>
        <div class="why_text">Электронной торговой<br>площадке<br>
          <a href="https://etpgp.rzd.ru/" class="why__link">https://etpgp.rzd.ru/</a>
        </div>
      </li>
      <li class="why__item">
        <div class="why__accent">
          ЭДО
        </div>
        <div class="why_text">Проведение документооборота<br>
          с контрагентами через ЭДО<br>
          (электронный документооборот)
        </div>
      </li>
    </ul>
  </div>
</section>




